@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants hover {
    .item-highlight {
      @apply bg-blue-100 !important;
    }
  }
}

@layer components {
  .base-grid {
    @apply flex-1 p-4 grid grid-cols-16 grid-rows-10;
    grid-template-columns: 48px;
    grid-template-rows: 48px;
    grid-auto-columns: 48px;
    grid-auto-rows: 48px;
  }

  .grid-cell {
    @apply text-center hover:item-highlight border-gray-500 cursor-pointer;
  }

  .grid-cell-selected {
    @apply item-highlight;
  }

  .grid-show-lines .grid-cell {
    @apply border-t border-l;
  }

  /* Target last column */
  .grid-show-lines .grid-cell:nth-child(16n+16) {
    @apply border-r;
  }

  /* Taken from https://keithclark.co.uk/articles/targeting-first-and-last-rows-in-css-grid-layouts/ */
  /* Target last row, which is considered the first row due to the grid's starting position... 0,0 is bottom left */
  .grid-show-lines .grid-cell:nth-child(-n+16) {
    @apply border-b;
  }

  .context-menu {
    @apply absolute bg-gray-100;
  }

  .context-menu-item {
    @apply border-b px-4 py-2 cursor-pointer hover:item-highlight;
  }

  .base-dialog {
    @apply w-full h-full absolute z-10 bg-blue-200 bg-opacity-50;
  }

  .base-dialog-title {
    @apply h-8 bg-blue-400 w-full text-white flex items-center px-2;
  }

  .base-dialog-content {
    @apply m-8 bg-white shadow flex flex-col;
    height: calc(100% - 4rem);
    width: calc(100% - 4rem);
  }

  .base-list {
    @apply absolute text-sm w-full border border-t-0 shadow-sm bg-white z-10 overflow-auto;
  }

  .base-list-item {
    @apply p-1 hover:item-highlight cursor-pointer;
  }

  .base-field {
    @apply border text-sm py-0.5 px-1 outline-none focus:border-blue-500 shadow-sm w-full;
  }
}